@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Prompt', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0efed;
}
ul{
    list-style: none;
}
:root {
    --base-dark: #080b1b;
    --base-blue: #1a2456;
    --base-white: #fff;
    --cover-gray: #c4c4c4;
    --nav-link: #efc2b3;
    --nav-link2: #b7786e;
    --nav-link3: #adb1c3;
    --stickerbg: #ff8d6b;
    --stickercolor: #212529;
    --nav-link-fs: 0.75rem;
    --h1-fs: 2.34375rem;
}

/* classes  */
.headerh1 {
    font-size: var(--h1-fs);
    margin-bottom: 0.9375rem;
    letter-spacing: 4px;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--nav-link);
}

/* navbar */
.navbar {
    position: fixed;
    margin: 0.75rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--base-blue) !important;
    padding: 0;
}
.dropdown-menu{
    border-radius: 0;
    min-width:7rem;
    
}
.dropdown-item{
    text-transform: uppercase;   
}

.dropdown-item:hover{
    background-color: var(--cover-gray) ;
}
#navbarSupportedContent {
    flex-grow: 0;
}

.nav-link {
    padding: 0 1rem !important;
    text-transform: uppercase;
    color: var(--nav-link) !important;
    font-size: var(--nav-link-fs);
    font-weight: 400;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
}

.customfont {
    font-size: 1.5rem;
    color: var(--nav-link) !important;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.hov1:hover {
    color: var(--nav-link2) !important;
}

.hov2:hover {
    color: var(--nav-link3) !important;
}

/* header */
.headercapsule {
    height: 42.1875rem;
}

header {
    position: absolute;
    top: 0;
    z-index: 0;
    height: 42.1875rem;
    background-image: url('./img/cover1.webp');
    background-repeat: no-repeat;
    padding: 0 !important;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* adiciona tom escuro a foto de fundo */
header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.header1 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    /* garante que o texto não 
    seja influenciado pelo efeito do background */
}

.header1p {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 1.2rem;
    color: var(--nav-link);
}

.header2 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
    top: 37.5rem;
    height: 50px;
    cursor: pointer;
    z-index: 2;
}

.header2 i {
    color: #fff;
    font-size: 2.5rem;
    transition: font-size 0.3s ease;
}

.header2:hover i {
    font-size: 3rem;
}

/* section */



/* card */
.sec1a {

    height: 29.19rem;
    padding: 1rem;
}

.sec1ab {

    height: 100%;
}

.sec1ab2 {
    height: 15%;
}

.sec1ab3 {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardimage1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
}

.cardimage2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.sec1ab1 {
    height: 85%;
    position: relative;
}

.sticker {
    position: absolute;

    top: 15px;
    right: 0;
    z-index: 2;
    text-transform: uppercase;
    text-align: center;
    padding: 0.25rem 1rem;
    font-weight: 600;
    font-size: var(--nav-link-fs);
    background-color: var(--stickerbg);
}

.divlink {
    text-decoration: none;
}

.transition2 {
    display: flex;
    justify-content: flex-end;
    position: relative;

    width: 6.88rem;
}

.button1 {
    position: absolute;
    top: -5px;
    border: 1px solid transparent;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0 1rem;
    border-radius: 50rem;
    background-color: var(--base-blue);
    color: var(--base-white);
    display: inline-block;
    font-size: var(--nav-link-fs);
    font-weight: 600;
    line-height: 1.5;
    padding: .375rem 1.0rem;
    text-align: center;
    transition: opacity 0.5s ease;
    opacity: 0;
}

.pricetag {
    top: -5px;
    position: absolute;
    text-transform: uppercase;
    font-size: 1rem;
    color: var(--base-blue);
    transition: opacity 0.5s ease;
    opacity: 1;
}

.cardtitle {
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 1rem;
    color: var(--base-blue);
    margin: 0;
}

.carddescription {
    font-size: .9rem;
    color: var(--base-blue);
    margin: 0;
}

.sec1ab1:hover .cardimage2,
.sec1ab1:hover .button1 {
    opacity: 1;
}

.sec1ab:hover .pricetag {
    opacity: 0;
}

.sec1ab:hover .button1 {
    opacity: 1;
}

.divlink:hover .cardtitle,
.divlink:hover .carddescription {
    color: var(--base-dark);
}

/* banner */
.banner {
    background-color: var(--cover-gray);
}

.banner1 {
    display: flex;
    justify-content: center;
    position: relative;
    /* A div pode ser posicionada conforme necessário */
    width: 100%;
    /* Ajusta a largura da div conforme necessário */
    height: 0;
    padding-bottom: 40%;
    /* Aspect Ratio 16:9 (altura/largura * 100) */
    overflow: hidden;
    /* Garante que a imagem não saia da div */
}

.banner1 img {
    position: absolute;
    /* Permite a imagem se ajustar à div */
    top: 0;
    left: 0;
    width: 100%;
    /* A imagem ocupa toda a largura da div */
    height: 100%;
    /* A imagem ocupa toda a altura da div */
    object-fit: cover;
    /* Ajusta a imagem para cobrir a div mantendo a proporção */
}

.banner1a {

    position: absolute;
    z-index: 3;
    top: 60px;
    text-align: center;

}

.bannerh1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--base-blue);

}

.bannerp {
    font-size: 1.171875rem;
    color: var(--base-blue);
}

/* footer */
footer{
    background-color: var(--base-blue);
    padding: 3rem;
}

/* footer, .foot1, .foot2, .foot3, .foot4, .foot5, .icons{
    border:1px solid white;
    
} */



.foot3, .foot4, .foot5{
    
    width: 100%;
}
.foot2{
    display: flex;
    flex-direction: row;
    padding-bottom: 1.5rem;
}

.foot1 ul{
    
    padding: 0;
}
.fottile{
    font-size: 0.68125rem;
    font-weight: 600;
    letter-spacing: 1px;
    min-width: 6em;
    text-transform: uppercase;
    margin-bottom: 1rem !important;
    color:var(--nav-link);
    text-align: left;
}
.adress{
    margin-bottom: 1rem;
    font-size: 0.84375rem;
    color:var(--nav-link);
}
.footerlink{
    color:var(--nav-link);
    text-decoration: none;
    font-size: 0.84375rem;
    
}
.footerlink:hover{
    text-decoration: underline;
    color:var(--nav-link2);
}
.form-control{
    border-radius: 0;
    border-color:var(--nav-link2);
    padding: 4px;
    background-color: var(--base-blue);
    
}
input::placeholder {
    color:var(--nav-link3) !important; /* Escolha a cor que desejar */
    font-size: 0.8rem;
    opacity: 1; /* Define a opacidade do placeholder */
}
.btn{
    border: 1px solid transparent;
    text-transform: uppercase;
    font-size: .75rem;
    padding: 0 1rem;
    line-height: 1.5;
    border-radius: 50rem;
    font-weight: 600;
    padding: .375rem 1.0rem;
    user-select: none;
    text-align: center;
    background-color: var(--nav-link2);
    color:var(--stickercolor);
}
.btn:hover{
    background-color: var(--nav-link2);
}
.socialicons{
    margin:1rem 0;
    display: flex;
    gap: 0.4rem;
    
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 27px;
    width: 27px;
    border-radius: 50px;
    border: none;
    background-color: var(--nav-link);
    font-size: 0.9rem;
    

}
.icons a {
    color:var(--base-blue);
}

@media (max-width: 991px) {

    .nav-item {
        align-items: flex-start;
        justify-content: flex-start;
    }
}

@media (max-width: 768px) {
    .sec1a {
        margin-top: 1rem;
        margin-bottom: 1rem;
        height: 26rem;
    }
    #vertical .foot2:nth-child(1) {
        order:2;
    }
    #vertical .foot2:nth-child(2) {
        order: 3;
    }
    #vertical .foot2:nth-child(3) {
        order: 1;
    }
}

@media (max-width: 767px) {
    .sec1a {

        padding: 0;
    }

    .bannerh1 {
        font-size: 2rem;

    }

    .banner1 {
        padding-bottom: 110%;
    }
}

@media (max-width: 431px) {
    header {
        height: 26.25rem;
    }

    .header2 {
        top: 21rem;
    }

    h1 {
        font-size: 2rem;
        margin-bottom: 0.9375rem;
    }

    .header1p {
        font-size: 1.1rem;

    }

    .headercapsule {
        height: 26rem;
    }

}